// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@font-face {
    font-family: "MAGALLY";
    src: url("/fonts/sumac_rocky.otf");
    font-style: normal;
    font-weight: normal;
}

body {
    font-family: "MAGALLY";
}

//navbar
@import 'partials/navbar.scss';

//header
@import 'partials/header.scss';

//carousel
@import 'partials/carousel.scss';