*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    /* font-family: 'Roboto'; */
    font-family: 'Montserrat', sans-serif;
  }

  .text-cnt{
    text-align: center;
  }

  .uppercase{
    text-transform: uppercase;
  }


  .mrg-bt-50{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  /* .card-foto{
    width: 100%;
    height: 100%;
  }
   */