.relative{
    transition-duration: 1s;
    border-radius: 15px;
    box-shadow: 0  5px 10px rgba(10, 6, 1, 0.2),;    
    img{
        width: 100%;
        height: 80%;
        border-radius: 15px 15px 0 0;
    }
}

.relative:hover{
    transform: scale(1.05);
}

.relative:hover img{
    filter: grayscale(.6);
}

.row{
    /* margin-top: 2%; */
    color: $arancio;
}



p{
    color: $arancio;
    text-align: center;
    font-size: 140%;
    
}

.ristoranti{
    text-align: center;
    color: $arancio;
    text-shadow: black;
    a:hover {
        text-decoration: none;
    }
    h3{
    margin: 50px;
    display: none;
    }
}






