nav{
    background-color: #FC904A;
    display: flex;

    img{
        height: 65px;
    }
    .white{
        color: white;
        padding-right: 20px;
    }
}
.center{
    text-align: center;
}
.just-end{
    justify-content: flex-end;
    float: right;
}

