nav{
    background-color: $arancio;
    display: flex;
    img{
        height: 65px;
    }
    .white{
        color: white;
        padding-right: 20px;
    }
}
#navbar-fix{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    box-shadow: 0  5px 10px rgba(10, 6, 1, 0.2);
}

.center{
    text-align: center;
}

.just-end{
    justify-content: flex-end;
    float: right;
}

