.admin_wrapper{
    margin-top: 91.23px;

    #sidemap{
        padding: 20px;
        background-color: $arancio;
        border: 1px solid black;
        width: fit-content;
    
        a{
            color: white;
            font-size: 2rem;
        }
    }

    .adm_rest_container{
        margin-top: 4%;
    }
}




#show_rest_container{
    display: flex;
    justify-content: center;

    #single_rest_show{
        width: fit-content;
        margin-right: 0;
        text-align: center;
    }
}


