.admin_wrapper{
    margin-top: 91.23px;
    
    #right_admin_content{
        min-height: calc(100vh - 91.23px);
        margin: auto;
    }

    #sidemap{
        padding: 20px;
        background-color: $arancio;
        border: 1px solid black;
        width: fit-content;
    
        a{
            color: white;
            font-size: 2rem;
        }
    }

    .adm_rest_container{
        margin-top: 4%;
        max-width: 100vw;
    }
}




#show_rest_container{
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    #single_rest_show{
        width: fit-content;
        margin-right: 0;
        text-align: center;
    }
}


