.admin_wrapper{
    margin-top: 91.23px;
    
    #right_admin_content{
        min-height: calc(100vh - 408.03px);
        margin: auto;
        display: flex;

        .container label{
            margin: 10px 0;
            width: fit-content;
            border: 3px solid $arancio;
            border-radius: 5px;
        }
    }

    #sidemap{
        padding: 20px;
        background-color: $arancio;
        border: 1px solid black;
        width: fit-content;
    
        a{
            color: white;
            font-size: 2rem;
        }
    }

    .adm_rest_container{
        margin-top: 4%;
        max-width: 100vw;

        .card-body{
            height: calc(100% - 150px);
            padding: 1.25rem 1.25rem 0 1.25rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .adm_rest_btn{
                padding-bottom: 1.25rem;
                justify-content: center;
            }
        }

        
    }
}

#adm-order-short{
    display: none;
}

#available-dish{
    display: flex;
    align-items: center;
    input{
        width: fit-content;
        margin: 0 20px;
    }
}

#dishes-table-adm-short{
    display: none;
}

#show_rest_container{
    margin-top: 5%;
    margin-bottom: 5%;
    height: fit-content;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    border: 3px solid $arancio;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 3%;

    #image-show-rest-admin{
        height: 250px;
    }

    #single_rest_show{
        width: fit-content;
        margin-right: 0;
        text-align: center;
    }
}

@media screen and (max-width: 680px) {
    #sidemap {
      display: none;
    }

    #adm-order-large{
        display: none;
    }

    #adm-order-short{
        display: block;
    }

    #show_rest_container{
        #image-show-rest-admin{
            height: 150px;
        }
    }
    
  }

  @media screen and (max-width: 1017px) {
    #dishes-table-adm-large{
        display: none;
    }

    #dishes-table-adm-short{
        display: block;
    }
    
  }

