.support_card {
    position: relative;
    flex-basis: 20%;
    margin: 1rem;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(10, 6, 1, 0.2);
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: black;
        margin: 0;
        border-radius: 15px;
        background-color: $arancio;
        opacity: 0;
        transition: all 1s linear;
        h3 {
            text-align: center;
        }
        i {
            color: black;
            font-size: 2rem;
            margin: 0 .5rem;
        }
    }
    .overlay:hover {
        opacity: 1;
    }
    .overlay i:hover {
        transform: scale(1.5);
    }
}